.login-root {
  --inputLabelText: #d2e2e2;
  --headerText: #e7dddd;
  --buttonTextColor: rgb(247, 243, 243);
  --buttonBackgroundColor: rgba(255, 255, 255, 0.45);
  --cardBackgroundColor: rgba(0, 0, 0, 0.7);
  --buttonTextHoverColor: rgba(255, 255, 255, 0.9);
  --buttonHoverBackgroundColor: rgba(255, 255, 255, 0.75);


  margin: auto;
  background-color: var(--cardBackgroundColor);
  height: 100%;
  border-radius: 8px;
  max-width: 600px;
}

.login-root label {
  display: inline-block;
  width: 6rem;
  text-align: right;
  color: var(--inputLabelText);
}

.login-root input {
  position: relative;
  margin: 0.25rem;
}

.login-root button {
  font: inherit;
  font-weight: 900;

  border: none;

  width: 8rem;
  margin: 0.4rem;
  padding: 0.25rem;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
  
  border-radius: 4px;
}

.login-root button:hover {
  color: var(--buttonTextHoverColor);
  background-color: var(--buttonHoverBackgroundColor);
  cursor: pointer;
}

.login-root button:active{
  transform: scale(.9);
}

.forgotPassword {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  color: rgb(247, 244, 244);
}

.forgotPassword:hover{
  text-decoration: underline;
}

.login-header {
  color: var(--headerText);
}
