.user-page-root .favorites-box {
  position: relative;

  margin-left: 3rem;
  margin-top: 2rem;

  height: 20vh;
  width: 80vw;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.user-page-root .favorites-box .rest-title {
  display: flex;
  position: absolute;

  top: 0;

  width: 30vw;
  height: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user-page-root .favorites-box .favorite-card-review {
  position: absolute;
  bottom: 0;

  width: 70%;
  height: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-page-root .favorites-box .icon {
  font-size: x-large;

  position: absolute;
  top: 1.5rem;
  margin: 0.5rem;
}

.user-page-root .favorites-box .favorite-icon {
  color: red;

  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
}

.user-page-root .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.5rem;
}

.user-page-root .top-section .avatar {
  margin: 0;
}

.user-page-root .favorites {
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.user-page-root .favorites-box .delete-favorite{
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5rem;

  cursor: pointer;
}

