.user-page-root .favorites-box {
  position: relative;

  margin-left: 7rem;
  margin-top: 2rem;

  height: 60vh;
  width: 60vw;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.user-page-root .favorites-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.user-page-root .favorites-box .rest-title {
  display: flex;
  position: absolute;

  top: 0;

  width: 30vw;
  height: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user-page-root .favorites-box .favorite-card-review {
  position: absolute;
  overflow-x:scroll;
  word-wrap: break-word;
  bottom: 0;

  width: 100%;
  height: 40%;
  

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: solid 0.5px black;
  background-color: rgba(211, 211, 211, 0.452);
}

.user-page-root .favorites-box .icon {
  font-size: 3rem;

  position: absolute;
  top: 1.5rem;
  margin: 0.5rem;
}

.user-page-root .favorites-box .favorite-icon {
  color: red;

  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
}

.user-page-root .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 1rem 1.5rem;
}

.user-page-root .top-section .avatar {
  margin: 0;
}

.user-page-root .favorites {
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.user-page-root .favorites-box .delete-favorite {
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5rem;

  cursor: pointer;
}
