:root {
  --inputLabelText: #d2e2e2;
  --headerText: #e7dddd;
  --backgroundImage: url(https://www.wallpapertip.com/wmimgs/54-549491_background-for-food-website.jpg);
}

body {
  /* border: solid rgb(224, 9, 9) 1px; */
  margin: auto 0;
  padding: 0;
}

.login-header {
  color: var(--headerText);
  /* border: solid rgb(9, 255, 0) 1px; */
}

.login-root {
  margin: 5rem;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 8px;
  /* border: solid rgb(9, 255, 0) 1px; */
}

.login label {
  display: inline-block;
  width: 7rem;
  text-align: right;
  color: var(--inputLabelText);
  /* border: solid red 1px; */
}

.login button {
  font: inherit;
  font-weight: 900;

  border: none;

  width: 8rem;
  margin: 0.5rem;
  padding: 0.25rem;

  border-radius: 4px;
}

.login button:hover {
  color: rgba(255, 255, 255, 0.925);
  background-color: rgba(255, 255, 255, 0.767);
  cursor: pointer;
}

.login input {
  margin: 0.25rem;
}

.login .shake {
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;

  animation-name: shake;
  animation-duration: var(--animationTime);
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
    outline-color: black;
  }
  20% {
    transform: translate(-3rem, 0) rotate(-3deg);
    outline-color: red;
  }
  35% {
    transform: translate(3rem, 0) rotate(3deg);
    outline-color: red;
  }
  50% {
    transform: translate(-3rem, 0) rotate(-3deg);
    outline-color: red;
  }
  65% {
    transform: translate(3rem, 0) rotate(3deg);
    outline-color: red;
  }
  80% {
    transform: translate(-3rem, 0) rotate(-3deg);
    outline-color: red;
  }
  100% {
    transform: translate(0, 0) rotate(0);
    outline-color: black;
  }
}
