:root {
  --inputLabelText: #d2e2e2;
  --headerText: #e7dddd;
  --backgroundImage: url(https://www.wallpapertip.com/wmimgs/54-549491_background-for-food-website.jpg);
}

body {
  /* border: solid rgb(224, 9, 9) 1px; */
  margin: auto 0;
  padding: 0;
}

.login-header {
  color: var(--headerText);
  /* border: solid rgb(9, 255, 0) 1px; */
}

.login {
  margin: 5rem;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 8px;
  /* border: solid rgb(9, 255, 0) 1px; */
}

.login label {
  display: inline-block;
  width: 7rem;
  text-align: right;
  color: var(--inputLabelText);
  /* border: solid red 1px; */
}

.login button {
  font: inherit;
  font-weight: 900;

  border: none;

  width: 8rem;
  margin: 0.5rem;
  padding: 0.25rem;

  border-radius: 4px;
}

.login button:hover {
  color: rgba(255, 255, 255, 0.925);
  background-color: rgba(255, 255, 255, 0.767);
  cursor: pointer;
}

.login input {
  margin: 0.25rem;
}
