.home-page-root {
    height: 100vh;
}

.header-root {
    background-color: #333;
    height: fit-content;
    color: #fff;
    padding: 0.5rem;
    max-width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.header-root .logo {
    height: 1.8rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.header-root .icon {
    cursor: pointer;
}

.header-root .app-name {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
}

.header-root a {
    text-decoration: none;
    color: inherit;
}

.header-root .icon {
    font-size: 1.3rem;
}

.header-root .user-options {
    cursor: pointer;
    border: solid #aaa 1px;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
}

.header-root .user-options:hover {
    background-color: rgb(184, 108, 23);
}

.footer-root {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100vw; */

    background-color: #333;
    color: #fff;
    height: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.footer-root .icon {
    cursor: pointer;
}
