:root {
  --inputLabelText: #d2e2e2;
  --headerText: #e7dddd;
  --backgroundImage: url(https://www.wallpapertip.com/wmimgs/54-549491_background-for-food-website.jpg);
}

.login,
.signup {
  margin: 2rem auto;
  width: 80vw;
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 8px;
  padding: 1rem;
  color: #eee;
}

.login-header,
.signup-header {
  color: var(--headerText);
  margin: 0 0 1rem;
  font-size: 1.7rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.login label,
.signup label {
  left: 4rem;
  margin-right: 5px;
  text-align: left;
  color: var(--inputLabelText);
  user-select: none;
}

.form-message {
  user-select: none;
  margin-bottom: 5px;
}

.login button,
.signup button {
  font: inherit;
  font-weight: 900;
  border: none;
  width: 8rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;

  border-radius: 4px;
}

.login button:hover,
.signup button:hover {
  color: rgba(255, 255, 255, 0.925);
  background-color: rgba(255, 255, 255, 0.767);
  cursor: pointer;
}

.login input,
.signup input {
  margin: 0.2rem 0 1rem;
  font-size: 1.1rem;
  height: 1.9rem;
  vertical-align:middle;
}

.signup .email-taken {
  outline-color: red;
}

.dialog-root {
  background-color: #000000a6;
  /* position: absolute; */
  /* height: 100vh; */
  position:absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-root .dialog-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.dialog-root .dialog-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  border-radius: 8px;
  background-color: #eee;
  padding: 0 0.4rem;
  /* margin: 5rem 0; */
  max-height: 85vh;
  width: 90vw;
  max-width: 800px;
  overflow: auto;

}