.login-root {
  --inputLabelText: #d2e2e2;
  --headerText: #e7dddd;
  --buttonTextColor: rgb(247, 243, 243);
  --buttonBackgroundColor: rgba(255, 255, 255, 0.45);

  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  border-radius: 8px;
  max-width: 600px;
}

.login-root label {
    display: inline-block;
    width: 6rem;
    text-align: right;
    color: var(--inputLabelText);
}

.login-root input {
  position: relative;
  margin: 0.25rem;
}

.login-root button {
  
  font: inherit;
  font-weight: 900;

  border: none;

  width: 8rem;
  margin: 0.5rem;
  padding: 0.25rem;

  border-radius: 4px;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
}

.login-root button:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.forgotPassword {
  position: absolute;
  margin-top: 4rem;
  color: rgb(247, 244, 244);
}

.login-header{
  color: var(--headerText);
}
