.signup {
  --inputLabelText: #d2e2e2;
  --headerText: #e7dddd;

  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  max-width: 600px;
}

.signup-header {
  color: var(--headerText);
}

.signup label {
  display: inline-block;
  width: 7rem;
  text-align: right;
  color: var(--inputLabelText);
}

.signup button {
  font: inherit;
  font-weight: 900;

  border: none;

  width: 8rem;
  margin: 0.5rem;
  padding: 0.25rem;

  border-radius: 4px;
}

.signup button:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.signup input {
  margin: 0.25rem;
}
