.review-card-root {
    margin: auto;
    background-color: lightgray;
    width: 90vw;
    padding: 0.8rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
}

.review-card-root h2 {
    margin: 0 0 0.5rem;
}

.review-card-root .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-card-root .dish-icon {
    font-size: 1.3rem;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.review-card-root .links > * {
    font-size: 1.3rem;
    margin-left: 0.8rem;
}

.review-card-root .agree-icon {
    text-align: right;
}